/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 16, 2017, 11:19:55 AM
    Author     : axe
*/
 @media (max-width: 678px) and (min-width: 480px )  { 
    .main-body{
         background-image: url("images/mobile/bg.png") ;
        background-image-size: 100% 100%;
        background-repeat: no-repeat;
        background-position: left top;
        background-attachment: scroll;
        background-size: 100% 90%;
     }
    /*moblie*/
       /*.test{
           //background-color: #000;
           width :500px;
           height: 500px;
       }*/
    
    
    .navbar-default {
        background-color: rgba(54, 161, 202, 0);
       border-color: rgba(54, 161, 202, 0);
    }   
    .navbar-default .navbar-toggle {
        border-color: rgba(54, 161, 202, 0);
    }
    
    .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
         background-color: rgba(54, 161, 202, 0);
    }
    
    .m_bg_bar{
        background-color: #36a1ca;
    }
    .navbar-toggle {
        position: relative;
        float: right;
        padding: 0px 0px; 
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 0px; 
        background-color: transparent;
        background-image: none;
        border: 0px solid transparent;
        border-radius: 4px;
    }
    .navbar-top {
       padding: 0px 30px 0 30px;
        margin-top: 0px;
    }

    .navbar-default .navbar-collapse, .navbar-default .navbar-form {
        border-color: rgba(54, 161, 202, 0);;
    }
    .m_list_bg {
       background-color: #36A1CA;

   } 
   
   .img_family{
       margin-left: 20px;
   }
   
   .bg_footer2{
         /*       background-color: #000;*/
        width: 100%;
        height:  180px;
        background: url(../images/mobile/footer.png) no-repeat center top local; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        
        background-size: 100% 100%;
        background-position: 0px 50px;
        background-repeat: no-repeat;
    }
 
    .bg_popup {
        background-image: url(../images/mobile/bg_pop3.png);
        background-image-size: 100% 100%;
        background-repeat: no-repeat;
        background-position: left top;
        background-attachment: scroll;
        background-size: 100% 100%;
        height: 100%;
    }
    
    .modal-dialog {
        margin-top: 0%;
        width: 100%;
        height: 100%;
    }
   
    .close2 {
        font-size: 21px;
        font-weight: 1700;
        line-height: 1;
        color: #000;
        text-shadow: 0 1px 0 rgba(255, 255, 255, 0);
        background: rgba(240, 255, 255, 0.02);
        border: 0;
        filter: alpha(opacity=20);
    }
    .scale_img{
        margin-right: 0px;
        margin-left: 0px;  
   }
    /*
    .navbar-top {
         background-image: url(images/navbar-1.png);
         padding: 0px 0px 0 0px;
         background-size: 100% 100%;
         margin-top: 0px;
     }*/
     
     .menu_top_text-t_mobile {
        width: 100%;
        height: 0%;
     }

    .txt_menu{
        font-family: "helvethaica_x";
        text-align: center;    
        font-size: 1em;
        color: #ffffff;
    }

    .container {
        padding-right: 0px;
        padding-left: 0px; 
        margin-right: auto;
        margin-left: auto;

    } 
    .txt_style{

    }
    .m_logo_on_bar{
         float: left;
     }
   .send_work{
        background-image: url("images/mobile/send_work.png");
        background-size: 86px 70px;
        width: 86px;
        height: 70px;

        /*background-color: #000;
        width: 100px;*/
    }
    .logo{
        background-image: url("../images/mobile/logo.png");
        background-image-size: 100% 230px;
        background-size: 100% 100%;
        border-radius: 0px;
       /* height: 230px;
        top: 20px;
        align-content: left;
        display: block;*/
    }

    .send_work{
        background-image: url("../images/mobile/send_work.png");
        background-size: 86px 70px;
        width: 86px;
        height: 70px;

        /*background-color: #000;
        width: 100px;*/
    }
    .txt_bu_m_mobile{
       color: #ffffff;
    }

    .container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header {
        margin-right: 0px; 
        margin-left: 0px;
    }

    

   

    .show_img{
        width: 90%;
    }

    /* rule page*/
    .bg_block_rule {
         background-image: url(../images/rule/r_block_bg.png);
         background-repeat: no-repeat;
         background-size: 100% 100%;
         background-position: center top;
         margin-right: 0%;
         margin-left: 0%; 
         margin-top: 0%; 
     }

     .scrollview-text_xs {
         height: 500px;
         margin-left: 0%;
         overflow: auto;
     }

      .ol_left_mobile{
         margin-left: -20px;
     }
     .left_0{
         padding-left: 0px; 
     }

     .r_title_mobile{
             color: #1677BC;
             font-size: 2.3em;
             font-weight: bold;  
     }
     .r_body_mobile{
         color: #000;
         font-size:1.4em;
         font-weight: normal;
         display: inline;
     }
     .r_bold_mobile{
         color: #000;
         font-size: 1.6em; 
     }
     
 }
    
 @media (max-width: 480px ) {
     .main-body{
         background-image: url("images/mobile/bg.png") ;
        background-image-size: 100% 100%;
        background-repeat: no-repeat;
        background-position: left top;
        background-attachment: scroll;
        background-size: 100% 90%;
     }
    /*moblie*/
       /*.test{
           //background-color: #000;
           width :500px;
           height: 500px;
       }*/
    
    
    .navbar-default {
        background-color: rgba(54, 161, 202, 0);
       border-color: rgba(54, 161, 202, 0);
    }   
    .navbar-default .navbar-toggle {
        border-color: rgba(54, 161, 202, 0);
    }
    
    .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
         background-color: rgba(54, 161, 202, 0);
    }
    
    .m_bg_bar{
        background-color: #36a1ca;
    }
    .navbar-toggle {
        position: relative;
        float: right;
        padding: 0px 0px; 
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 0px; 
        background-color: transparent;
        background-image: none;
        border: 0px solid transparent;
        border-radius: 4px;
    }
    .navbar-top {
       padding: 0px 30px 0 30px;
        margin-top: 0px;
    }

    .navbar-default .navbar-collapse, .navbar-default .navbar-form {
        border-color: rgba(54, 161, 202, 0);;
    }
    .m_list_bg {
       background-color: #36A1CA;

   } 
   
   .img_family{
       margin-left: 20px;
   }
   
   .bg_footer2{
         /*       background-color: #000;*/
        width: 100%;
        height:  180px;
        background: url(../images/mobile/footer.png) no-repeat center top local; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        
        background-size: 100% 100%;
        background-position: 0px 50px;
        background-repeat: no-repeat;
    }
 
    .bg_popup {
        background-image: url(../images/mobile/bg_pop3.png);
        background-image-size: 100% 100%;
        background-repeat: no-repeat;
        background-position: left top;
        background-attachment: scroll;
        background-size: 100% 100%;
        height: 100%;
    }
    
    .modal-dialog {
        margin-top: 0%;
        width: 100%;
        height: 100%;
    }
   
    .close2 {
        font-size: 21px;
        font-weight: 1700;
        line-height: 1;
        color: #000;
        text-shadow: 0 1px 0 rgba(255, 255, 255, 0);
        background: rgba(240, 255, 255, 0.02);
        border: 0;
        filter: alpha(opacity=20);
    }
    .scale_img{
        margin-right: 0px;
        margin-left: 0px;  
   }
    /*
    .navbar-top {
         background-image: url(images/navbar-1.png);
         padding: 0px 0px 0 0px;
         background-size: 100% 100%;
         margin-top: 0px;
     }*/
     
     .menu_top_text-t_mobile {
        width: 100%;
        height: 0%;
     }

    .txt_menu{
        font-family: "helvethaica_x";
        text-align: center;    
        font-size: 1em;
        color: #ffffff;
    }

    .container {
        padding-right: 0px;
        padding-left: 0px; 
        margin-right: auto;
        margin-left: auto;

    } 
    .txt_style{

    }
    .m_logo_on_bar{
         float: left;
     }
   .send_work{
        background-image: url("images/mobile/send_work.png");
        background-size: 86px 70px;
        width: 86px;
        height: 70px;

        /*background-color: #000;
        width: 100px;*/
    }
    .logo{
        background-image: url("../images/mobile/logo.png");
        background-image-size: 100% 230px;
        background-size: 100% 100%;
        border-radius: 0px;
       /* height: 230px;
        top: 20px;
        align-content: left;
        display: block;*/
    }

    .send_work{
        background-image: url("../images/mobile/send_work.png");
        background-size: 86px 70px;
        width: 86px;
        height: 70px;

        /*background-color: #000;
        width: 100px;*/
    }
    .txt_bu_m_mobile{
       color: #ffffff;
    }

    .container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header {
        margin-right: 0px; 
        margin-left: 0px;
    }

    

   

    .show_img{
        width: 90%;
    }

    /* rule page*/
    .bg_block_rule {
         background-image: url(../images/rule/r_block_bg.png);
         background-repeat: no-repeat;
         background-size: 100% 100%;
         background-position: center top;
         margin-right: 0%;
         margin-left: 0%; 
         margin-top: 0%; 
     }

     .scrollview-text_xs {
         height: 500px;
         margin-left: 0%;
         overflow: auto;
     }

      .ol_left_mobile{
         margin-left: -20px;
     }
     .left_0{
         padding-left: 0px; 
     }

     .r_title_mobile{
             color: #1677BC;
             font-size: 2.3em;
             font-weight: bold;  
     }
     .r_body_mobile{
         color: #000;
         font-size:1.4em;
         font-weight: normal;
         display: inline;
     }
     .r_bold_mobile{
         color: #000;
         font-size: 1.6em; 
     }
      /* rule page*/
}
