/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 17, 2017, 11:47:08 PM
    Author     : 000
 background: url(../images/bg_test.jpg) no-repeat center center fixed; 
*/



.body2 { 

    background-color: #ccc;
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
    background-size: 100% 100%;
    
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
}

.navbar-nav
{
  padding-left: 2px;
}

.sendwork
{
  opacity: 0;
}


/*text*/ 
.txt_menu{

    text-align: left;
    color: #ffffff;
    
} 

.navbar-left
{
  width: 42%;
  padding-left: 5px;
}

.navbar-default .navbar-nav > li > a {
  font-family: helvethaica_x_bd;
  color: #fff;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #333;
  background-color: transparent;
}
/*
input { 
    display: block;
    width: 545px;
    height: 45px;
    padding: 6px 12px;
    border-width: 0px;
    background: rgba(238, 238, 238, 0) url(../images/send/input_email.png);
}*/

no_block{
    display: inline-block;
   
}
            
s_20{
     width: 245px;
}

@media (min-width: 768px){
    .bg_footer2
    {
        width: 100%;
        height:  50px;
    }
    .menu_top_text{
       font-family: helvethaica_x_bd;
       margin-top: 4.5em;
       margin-left: -20px;
       text-align: left; 
        font-size: 0.6em;
        font-weight: bold;
    } 
    
    .menu_top_right{
        margin-right: 40px;
    }
    .navbar2 {
         background-image: url("../images/navbar.png") ;
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 0px;
        height: 120px;
        top: 20px;
        right: 20px;
        align-content: left;
        display: block;
        width: 100%;
    }
    
    .conter2 {
         top:100px;
         height: 20%;
    }
   .navbar-default {
      background-color: rgba(248, 248, 248, 0);
      border-color: rgba(231, 231, 231, 0);
    }

    .div-show-left
    {
      width: 40%;
      margin-left: 10%;
    }
      .div-show-right
    {
      width: 40%;

    }
}


@media (min-width: 992px){
    
   .menu_top_text{
      font-family: helvethaica_x_bd;
      margin-top: 4%;
      margin-left: 0px;
      text-align: left;    
      font-size: 0.9em;
      font-weight: bold;
    } 
    
    .menu_top_right{
        
     margin-right: 53px;
    }
    
    .navbar2 {
        
        background-image: url("../images/navbar.png");
          
        top: 0px;
        align-content: left;
        display: block;
        width: 100%;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        
    }
    
    .conter2 {
         top:100px;
         height: 20%;
    }
    * {
    margin:0;
    padding:0;
  }
    
    .navbar-default{
        
    }

    .navbar-show
    {
      padding-top: 1.5%;
    }
    
    /*home*/
    .home_body{
        margin-top: -190px;
        margin-left: 40px
    }
    
    .home_image_right{
        margin-top: 80px;
        
        text-align: center; 
        vertical-align: middle; 
    }
    
    .txt_menu2{
        left: 90px;
        top: -40px;
    }

    .navbar-default {
      background-color: rgba(248, 248, 248, 0);
      border-color: rgba(231, 231, 231, 0);
    }
}
@media (min-width: 1080px){

    .navbar2 {
        background-image: url("../images/navbar.png");
      
        align-content: left;
        display: block;
        width: 100%;

        background-size: 100% 100%;
        background-repeat: no-repeat;
            height: 180px;

    }

      .navbar-show
    {
      margin-top: 5%;
    }

    .menu_top_text{
     font-size: 0.8em;
  }

      .foot-nev
    {
       background: url(images/bu_toggle_up.png) no-repeat center ; margin-left: 35%; margin-right: 35%; margin-top: 20px; width: 30%; height: 100px;
    }

    .text-four
    {
      padding-right: 0px;
    }
    .div-show-right
    {
      margin-left: 0px;
    }

    .nav-nav-left
    {
      width: 38%;
    }

      .div-show-left
    {
          margin-top: 50px;
      margin-left: 0px;
    }

       .menu_top_right{
        
     margin-right: 100px;
    }
    
}

@media (min-width: 1440px){
    .menu_top_text{
      font-family: helvethaica_x_bd;
      margin-top: 5.5%;
      margin-left: 0px;
      margin-right: 0px;
      text-align: left;    
      font-size: 0.9em;
      font-weight: bold;
    }

    .nav-nav-left
    {
      width: 37%;
    } 

    .text-four
    {
      padding-right: 5px;
    }

    .menu_top_right{
       margin-right: 0px; 
       width: 40%;
      float: right;
    }

    .pic-show-left
    {

    margin-left: 0px;
    margin-right: 0px;
    margin-top: -150px;

    }
    .div-show-left
    {
        margin-left: -100px;
        padding-left: 5%;
        padding-right: 5%;
    }

    .div-show-right
    {
    margin-top: -50px;
    margin-left: 100px;
    }

    .left-pic
    {
      margin: auto;
    }

    .pic-show-right
    {

    margin-left: 0px;
    margin-top: 100px;

    }
    
    .navbar2 {
        background-image: url("../images/navbar.png");
        background-size: 100% 100%;
   
        border-radius: 0px;
     
        top: 0px;
        align-content: left;
        display: block;
          margin: auto;
          width: 100%;
    padding: 10px; 

    }

    .size-li
    {
      width: 28%;

  
    }

    .size-li-right-left
    {
      width: 32%;

       
    }

    .size-li-right-cen
    {
      width: 28%;

       
    }

    .size-li-right-right
    {
      width: 18%;

       
    }


    .size-li-cen
    {
      width: 40%;
      margin-left: 0%;
      margin-right: 0%;
    }

    .navbar-show
    {
      padding-top: 0.5%;
      width: 100%;
      position: relative
  
    }
    
    .conter2 {
         top:100px;
         height: 20%;
    }
    
    
    .navbar-default{
            height: 200px;
    }

 
    
    /*home*/
    .home_body{
        margin-top: -100px;
        margin-left: 40px
    }
    
    .home_image_right{
        margin-top: 100px;
    }

    .navbar-default {
      background-color: rgba(248, 248, 248, 0);
      border-color: rgba(231, 231, 231, 0);
    }

        .foot-nev
    {
       background: url(images/bu_toggle_up.png) no-repeat center ; margin-left: 30%; margin-right: 30%; margin-top: 20px; width: 40%; height: 100px;
    }
    
}

@media (min-width: 1920px){
    .menu_top_text{
      font-family: helvethaica_x_bd;
      margin-top: 100px;
      margin-left: 0px;
      margin-right: 0px;
      text-align: left;    
      font-size: 1.3em;
      font-weight: bold;
    } 

        .foot-nev
    {
       background: url(images/bu_toggle_up.png) no-repeat center ; margin-left: 35%; margin-right: 35%; margin-top: 20px; width: 30%; height: 100px;
    }
    
   
    .menu_top_right{
        
      float: right;
    }

    .pic-show-left
    {

    margin-left: 50px;
    margin-right: 0px;
    margin-top: -50px;

    }

    .pic-show-right
    {

    margin-left: 0px;

    margin-top: 100px;

    }
    
    .navbar2 {
        background-image: url("../images/navbar.png");
        background-image-size: 100% 17.2%;
   
        border-radius: 0px;
        height: 235px;
        top: 0px;
        align-content: left;
        display: block;
          margin: auto;
    width: 100%;
    padding: 10px; 

    }

    .size-li
    {
      width: 30%;
      padding-left: 0.15%;
      padding-right: 0.15%;
    }

    .size-li-right
    {
      width: 29%;
      padding-left: 0%;
      padding-right: 0.5%;
    }


    .size-li-cen
    {
      width: 36%;
      margin-left: -2%;
      margin-right: 2%;
    }

    .navbar-show
    {
      padding-top: 0.5%;
      width: 100%;
      position: relative
  
    }
    
    .conter2 {
         top:100px;
         height: 20%;
    }
    
    
    .navbar-default{
        
    }

    .left-pic
    {
      margin-top: 100px;
    }

    .right-pic
    {
                    margin-top: 0px;
    }
    
    /*home*/
    .home_body{
        margin-top: -100px;
        margin-left: 40px
    }
    
    .home_image_right{
        margin-top: 200px;
    }

    .navbar-default {
      background-color: rgba(248, 248, 248, 0);
      border-color: rgba(231, 231, 231, 0);
    }
}



/*send page*/

.btn_img_send_age {
    margin-left: 10px;
    margin-top: 28px;
}



 .title_send{
      font-family: "helvethaica_x";
      color: #1677bc;
      text-align: left;    
      font-size: 1.4em;
  } 
  

.title_send2{
      font-family: "helvethaica_x";
      color: #1677bc;
      text-align: left;    
      font-size: 1em;
  }   
    
    
.btn-default1 {
    color: #333;
    background-color: #fff;
    background-image: url("../images/send/button_ok.png");
    border-color: #ccc;
    width: 180px;
    height: 48px;
  }
  .btn-default1:focus,
  .btn-default1.focus {
    color: #333;
    background-color: #e6e6e6;
    border-color: #8c8c8c;
  }
  .btn-default1:hover {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
  }
  .btn-default1:active,
  .btn-default1.active,
  .open > .dropdown-toggle.btn-default1 {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
  }
  .btn-default1:active:hover,
  .btn-default1.active:hover,
  .open > .dropdown-toggle.btn-default1:hover,
  .btn-default1:active:focus,
  .btn-default1.active:focus,
  .open > .dropdown-toggle.btn-default1:focus,
  .btn-default1:active.focus,
  .btn-default1.active.focus,
  .open > .dropdown-toggle.btn-default1.focus {
    color: #333;
    background-color: #d4d4d4;
    border-color: #8c8c8c;
  }
  .btn-default1:active,
  .btn-default1.active,
  .open > .dropdown-toggle.btn-default1 {
    background-image: none;
  }
  .btn-default1.disabled:hover,
  .btn-default1[disabled]:hover,
  fieldset[disabled] .btn-default1:hover,
  .btn-default1.disabled:focus,
  .btn-default1[disabled]:focus,
  fieldset[disabled] .btn-default1:focus,
  .btn-default1.disabled.focus,
  .btn-default1[disabled].focus,
  fieldset[disabled] .btn-default1.focus {
    background-color: #fff;
    border-color: #ccc;
  }
  .btn-default1 .badge {
    color: #fff;
    background-color: #333;
  }
  input:focus {}
  
  
  .btn-facebook {
    color: #333;
    background-color: #fff;
    background-image: url("../images/activity/bu_facebook.png");
    border-color: #ccc;
    width: 180px;
    height: 32px;
     margin-left:30px;
  }
  .btn-facebook:focus,
  .btn-facebook.focus {
    color: #333;
     background-image: url("../images/activity/bu_facebook.png");
    border-color: #8c8c8c;
     margin-left:30px;
  }
  .btn-facebook:hover {
    color: #333;
   background-image: url("../images/activity/bu_facebook.png");
    border-color: #adadad;
  }
  .btn-facebook:active,
  .btn-facebook.active,
  .open > .dropdown-toggle.btn-facebook {
    color: #333;
   background-image: url("../images/activity/bu_facebook.png");
    border-color: #adadad;
  }
  .btn-facebook:active:hover,
  .btn-facebook.active:hover,
  .open > .dropdown-toggle.btn-facebook:hover,
  .btn-facebook:active:focus,
  .btn-facebook.active:focus,
  .open > .dropdown-toggle.btn-facebook:focus,
  .btn-facebook:active.focus,
  .btn-facebook.active.focus,
  .open > .dropdown-toggle.btn-facebook.focus {
    color: #333;
   background-image: url("../images/activity/bu_facebook.png");
    border-color: #8c8c8c;
  }
  .btn-facebook:active,
  .btn-facebook.active,
  .open > .dropdown-toggle.btn-facebook {
    background-image: none;
  }
  .btn-facebook.disabled:hover,
  .btn-facebook[disabled]:hover,
  fieldset[disabled] .btn-facebook:hover,
  .btn-facebook.disabled:focus,
  .btn-facebook[disabled]:focus,
  fieldset[disabled] .btn-facebook:focus,
  .btn-facebook.disabled.focus,
  .btn-facebook[disabled].focus,
  fieldset[disabled] .btn-facebook.focus {
    background-color: #fff;
    border-color: #ccc;
  }
  .btn-facebook .badge {
    color: #fff;
    background-color: #333;
  }